.primary {
  background-color: #fed202;
  color: #1a1a1a;
  padding: 15px 25px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  text-transform: capitalize;
  margin: 5px 0;
  cursor: pointer;
  transition: ease background-color 250ms;
  font-weight: 600;
  width: 100%;
}
.primary[type="submit"] {
  padding: 10px 25px !important;;
}
.primary a {
  text-decoration: none;
}

.primary:hover {
  background-color: #a98d00;
}

.primary:disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}
@media (min-width: 400px) {
  .primary {
    width: auto;
  }
}
@media (max-width: 400px) {
  .primary {
    padding: 5px 10px;
  }
}
@media (max-width: 600px) {
    .primary[type="submit"] {
        width: 100%;
    }
}

.secondary {
  background-color: #fff;
  color: #fed202;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 2px;
  border: none;
  text-transform: uppercase;
  margin: 5px 0;
  cursor: pointer;
  transition: ease background-color 250ms;
  font-weight: 600;
}

.secondary:hover {
  background-color: rgb(207, 205, 205);
}

.secondary:disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}

.secondary a {
  text-decoration: none;
}
